body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.highlight {
    background-color: yellow;
    display: block
}

#main-topic{
    color: red;
    text-align: center;
    border: 2px solid blue;
    font-family: 'Courier New', Courier, monospace;
}

.lowlight {
    background-color: #333333;
    color: #ddd;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}